<div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<hr>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<h3>Applicant Info</h3>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<hr>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<form class="form" id='newrespform' onsubmit="submitNewRespondant();return false;">
			<input type="hidden" id="asid" name="asid">
			<div class='form-control-group col-xs-12 col-sm-6'>
				<label for="fname">First Name:</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
					<input class="form-control" type="text" name="fname" placeholder="First Name" required="required">
				</div>
			</div>
			<div class='form-control-group col-xs-12 col-sm-6'>
				<label for="lname">Last Name:</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
					<input class="form-control" type="text" name="lname" placeholder="Last Name" required="required">
				</div>
			</div>
			<div class='form-control-group col-xs-12'>
				<label for="email">E-mail Address:</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
					<input class="form-control"
						type="email" name="email" placeholder="email" required="required">
				</div>
			</div>
			<div id='locationdiv' class="col-xs-12">
				<label for="locationId">Location:</label>
				<select class="form-control" id="locationId" name="locationId" required="required"></select>
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<input type="hidden" name="lat" id="lat">
			<input type="hidden" name="lng" id="lng">
				<input type="hidden" name="address" id="address" value="Not Provided">
				<input type="hidden" name="formatted_address" id="formatted_address"  value="Not Provided">
				<input type="hidden" name="country_short" id="country_short">
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
	getLocations(survey.uuId);
});
</script>