<div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<hr>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<h3>Enter Employee ID</h3>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<hr>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<form class="form" id='lookuprespform' onsubmit="lookupRespondant();return false;">>
			<input type="hidden" id="asid" name="asid">
			<label for="fname">Employee ID:</label>
			<div class="input-group has-feedback">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<input class="form-control" type="text" name="id" placeholder="ID#" required="required">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<hr>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 text-center">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<hr>
	</div>
</div>