<div id="video-container" style="width: 320px;height: 240px;border: 1px solid #cececc;box-sizing: border-box;margin: 0 auto;">
</div>
<div id="video-controls" class="text-center">
  <input type="hidden" id="time-interval" value="120000">
  <input type="hidden" id="video-width" value="320">
  <input type="hidden" id="video-height" value="240">
  <input type="hidden" id="video-recorderType" value="[Best Available Recorder]">
  <button class="btn btn-small" id="start-recording">Start</button>
  <button class="btn btn-small" id="stop-recording" disabled>Stop</button>
  <button class="btn btn-small" id="pause-recording" disabled>Pause</button>
  <button class="btn btn-small" id="resume-recording" disabled>Resume</button>
  <button class="btn btn-small" id="save-recording" disabled>Save</button>
</div>
<div id="video-recordings">
</div>      
<script>
        var mediaRecorder;
        var index = 1;
        $('#start-recording').bind('click', function() {
        	this.disabled = true;
        	captureUserMedia({audio: !IsOpera && !IsEdge, video: true }, onMediaSuccess, onMediaError);
        });
        $('#stop-recording').bind('click',  function() {
            this.disabled = true;
            mediaRecorder.stop();
            mediaRecorder.stream.stop();
            $('#pause-recording').prop('disabled', true);
            $('#start-recording').prop('disabled', false);
        });
        $('#pause-recording').bind('click',  function() {
            this.disabled = true;
            mediaRecorder.pause();
            $('#resume-recording').prop('disabled', false);
        });
        $('#resume-recording').bind('click',  function() {
            this.disabled = true;
            mediaRecorder.resume();
            $('#pause-recording').prop('disabled', false);
        });
        $('#save-recording').bind('click',  function() {
        	    this.disabled = true;
        	    mediaRecorder.save();
        });
        window.onbeforeunload = function() {
            document.querySelector('#start-recording').disabled = false;
        };
</script>
