
<div id="wrapper">
	<div class="container"
		style="background: black; color: white; opacity: .85;">
		<div class="col-xs-12 text-center">
			<img src="/images/emp-logo-sm.png" style="width: 65%;" alt="">
		</div>
		<div class="col-xs-12 text-center">
			<hr>
		</div>
		<div class="col-xs-12 text-center">
			<form name="resetpassform" method="post"
				action="javascript:resetPassword();" id='resetpassform'>
				<h1>Password Reset</h1>
				<div class="clearfix" style="height: 15px;"></div>
				<div class="col-xs-12 text-center">
					<p class="change_link">Please choose a new password, and enter
						it in both fields below.</p>
				</div>
				<div class="clearfix" style="height: 15px;"></div>
				<div>
					<input class="form-control" type="password" id='newpass'
						name="newpass" placeholder="New Password" required>
				</div>
				<div class="clearfix" style="height: 15px;"></div>
				<div>
					<input class="form-control" type="password" id='repeatpass'
						name="repeatpass" placeholder="Repeat Password" required>
				</div>
				<div class="clearfix" style="height: 15px;"></div>
				<div>
					<div class="col-xs-12">
						<button class="btn btn-default submit" type="submit">Change
							Password</button>
					</div>
				</div>
				<div class="clearfix" style="height: 15px;"></div>
				<div class="col-xs-12 text-center">
					<p id='errormsg' class="text-danger"></p>
				</div>
			</form>
		</div>

	</div>
</div>

<script type="text/javascript">
	var urlParams;
	(window.onpopstate = function() {
		var match, pl = /\+/g, // Regex for replacing addition symbol with a space
		search = /([^&=]+)=?([^&]*)/g, decode = function(s) {
			return decodeURIComponent(s.replace(pl, " "));
		}, query = window.location.search.substring(1);

		urlParams = {};
		while (match = search.exec(query))
			urlParams[decode(match[1])] = decode(match[2]);
	})();
	var email = urlParams.user;
	var hash = urlParams.hash;
	
	$(document).ready(function() {
	    $('input[name=repeatpass]').keyup(function () {
	        'use strict';

	        if ($('input[name=newpass]').val() === $(this).val()) {
	            $(this)[0].setCustomValidity('');
	        } else {
	            $(this)[0].setCustomValidity('Passwords must match');
	        }
	    });
	});
	
</script>